<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <nav>
      <ul>
        <li>{{__ "Home"}}</li>
        <li>{{__ "Works"}}</li>
        <li>{{__ "About"}}</li>
        <li>{{__ "Contacts"}}</li>
      </ul>
    </nav>
    {{{body}}}
    <footer>
      
    </footer>
  </body>
</html>
